.lifestyle-container {
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .lifestyle-form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .lifestyle-form select,
  .lifestyle-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #8B0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .edit-btn:hover {
    background-color: #a52a2a;
  }
  
  .btn-update {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #228B22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
  }
  
  .btn-update:hover {
    background-color: #2E8B57;
  }
  
  .lifestyle-input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
    width: 100%;
    
  }
  
  .lifestyle-input-group .icon {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #8a3b3f;
    text-align: center;
    min-width: 25px;
  }
  
  select, input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  